* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../images/Mountain_By_Paul_Gilmore.jpg");
  background-size: 100% 100%;
}

#segment-info {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 20vw;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#segment-controls {
  position: absolute;
  top: 25%;
  left: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.info {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.info ul, .info p {
  list-style: none;
}

.info h3 {
  border-bottom: 1px solid #ffffff;
}

#canvas {
  overflow: hidden;
  image-rendering: pixelated;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#back-arrow {
  width: 15%;
  height: 10%;
  font-size: 2rem;
  position: relative;
}

#back-arrow a {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 10%;
  text-decoration: none;
  color: #ffffff;
}

#back-arrow a span {
  text-transform: uppercase;
  opacity: 0;
  transition: 0.5s;
}

#back-arrow a svg {
  margin-left : 20px;
}

#back-arrow:hover a span {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}
